# App configuration
DEBUG=True
APP_ENV=development

# Database configuration
DB_NAME=<your_database_name>
DB_USER=<your_username>
DB_PASSWORD=<your_password>
DB_PORT=<your_port>
DB_HOST=localhost

# REDIS
REDIS_PASSWORD=<redis_password>
REDIS_PORT=6379